{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <br>
    <form method="get" >
        {{ search_form }}
        <button>
            SEARCH
        </button>
        {% csrf_token %}
    </form>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-1" >

        {% for food in foods %}
          <div class="col">
            <div class="card" style="width: 30rem;">
              <img src="{{ food.food_photo }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ food.food_name }}</h5>
                <p class="card-text">Destination: {{ food.destination }}</p>
                <p class="card-text">Opinion: {{ food.opinion }}</p>
                <a href="{% url 'details food' pk=food.pk %}">
                    <h4 class="details">See details</h4>
                </a>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
    <br>

{% endblock %}