{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
     <br>
    <form method="get" >
        {{ search_form }}
        <button class="btn btn-primary">
            SEARCH
        </button>
        {% csrf_token %}
    </form>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-1">
    {% for photo in photos %}


        <div class="col">
            <div class="card" style="width: 30rem;">
              <img src="{{ photo.photo.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ photo.destination }}</h5>
                <p class="card-text">Description: {{ photo.description }}</p>
                <a href="{% url 'details photo' pk=photo.pk %}">
                    <h4 class="details">See details and comments</h4>
                </a>
              </div>
            </div>
          </div>

    {% endfor %}
    </div>
    <br>
{% endblock %}