{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <br>

        <h2>Add food</h2>

    <form action="{% url 'add food' %}" method="post">
        {{ form.as_p }}
        <button class="add-btn" type="submit">Add Food</button>
        {% csrf_token %}
    </form>
{#    {% if is_owner %}#}
{#        <a href="{% url 'edit destination' pk=task.pk %}">#}
{#            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">#}
{#        </a>#}
{#        <a href="{% url 'delete destination' pk=task.pk %}">#}
{#            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">#}
{#        </a>#}
{#    {% endif %}#}

{% endblock %}