{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <br>


    <h2>Edit Food</h2>
        {% if is_owner  %}
            <form method="post" action="{% url 'edit food' pk=object.pk %} ">
                {{ form.as_p }}
                <button class="edit-btn btn btn-warning" type="submit">Edit</button>
                {% csrf_token %}
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </form>
        {% else %}
            <div>
                <p>NO ACCESS</p>
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </div>
        {% endif %}

{% endblock %}