{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <br>
    <h3>DETAILS PHOTO PAGE</h3>
    <br>

    {% if is_owner %}
                <div>
                <p style="display: inline">>>>>></p>
                <a href="{% url 'edit photo' pk=photo.pk %}" >
                    <h4 class="details" style="display: inline"><button>Edit photo</button></h4>
                </a>
                    <p style="display: inline">>>>>></p>
                  <a href="{% url 'delete photo' pk=photo.pk %}">
                    <h4 class="details" style="display: inline"><button>Delete photo permanently</button></h4>
                </a>
                </div>
            {% endif %}
    <br>

    <div class="card bg-secondary bg-light text-dark"  style="width: 33rem;">
        <div class="card-body">
             <a href="{% url 'details destination' pk=photo.destination.pk %}">
                <h4 class="details">Destination: {{ photo.destination }}</h4>
            </a>

            <p class="card-text">Description: {{ photo.description }}</p>

        </div>
            <a href="{{ photo.photo.url }}">
                <h4 class="details"><img src="{{ photo.photo.url }}" class="card-img-bottom" alt="..."></h4>
            </a>
    </div>

        {% for commentar in photo.photocomment_set.all %}
            <div>
                <p> {{ commentar.user }}: {{ commentar.text }}</p>
            </div>
        {% endfor %}

            <div>
                <form method="post" action="{% url 'comment photo' photo_id=photo.pk %}">
                    {{ comment_form }}
                    <button type="submit">Post</button>
                    {% csrf_token %}
                </form>
            </div>
    <br>



{% endblock %}