{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <br>
    <br>
    {% if is_owner %}
    <h1>
        Are you sure you want to delete this destination?
    </h1>
            <div class="sure-buttons">
                <form method="post" action="{% url 'delete destination' pk=object.pk %}">
                <button>Yes</button>

                    {% csrf_token %}
                <!-- Go Back Button -->
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </div>
    {% else %}
        <p>NO ACCESS</p>
        <a class="edit-btn" href="javascript:history.back()">Go Back</a>
    {% endif %}


{% endblock %}